<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Free Themes & Templates</h5>
                <div class="ibox-tools">
                    Source: StartBootstrap
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 theme">
                        <h2>Agency</h2>
                        <small></small>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/agency.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>Clean Blog</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/clean-blog.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>Freelancer</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/freelancer.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>Grayscale</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/grayscale.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>Landing Page</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/landing-page.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>Stylish Portfolio</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/stylish-portfolio.jpg') %>">
                    </div>
                    <div class="col-sm-6 theme">
                        <h2>The Big Picture</h2>
                        <img alt="image" class="img-responsive" src="<%= image_path('thumbnails/the-big-picture.jpg') %>">
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>
</div>
