<!DOCTYPE html>
<html>
<head>
  <title>PyreBackend</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js"></script>
  <%= yield :head %>
</head>
<body style='margin-top: 80px; background: url("assets/cityscape.jpg"); background-position: center;'>
<div class="flash">
<% flash.each do |type, message| %>
  <div class="alert fade in" style="width: 200px; height: 120px; position: absolute; top: 10px; right: 10px; background: #A8EBFF; border-radius: 5px; border: 1px solid #5CD9FF; ">
    <button class="close" data-dismiss="alert" style="margin-top: -5px;">×</button>
    <%= message %>
  </div>
<% end %>
</div>

<%= yield %>

</body>
</html>
